* {
  margin: 0;
  padding: 0;
  outline: none;
}
*:not(input,textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}
body {
  width: 100%;
  font-family: 'microsoft yahei', Arial, Helvetica, "黑体", sans-serif;
  font-size: 14px;
  color: #878787;
  -webkit-touch-callout: inherit ;
  -webkit-user-select: auto ;
  background-color: #fff;
}
a {
  color: #BBBEF0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
dt,dd {
  display: inline-block;
}
textarea,input {
  resize: none;
  outline: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
ul,ol,li {
  list-style: none;
}
em {
  font-style: normal;
}

body{width:100%;height: 100%;overflow:hidden;}
img{width: 50%;}

.player-button {position: absolute;z-index: 100;display: block;top: 10px;right: 10px;width: 36px;height: 36px;background-image: url(../img/music.png);background-size: 72px 36px;background-position: 0 0;background-repeat: no-repeat;}
.player-button-stop {background-position: -36px 0;}

.hide{ display:none;}

.page{width:100%;height:100%;position:absolute;text-align:center; background-size: cover; background-repeat: no-repeat;background-position:  0 0;background-color:#666699;}

.page .wrap{width: 100%;height: 100%;text-align: center;}

.page-1-1{ background-color:#083846;background-image: url(../img/default/1.jpg);}
.page-2-1{ background-color:#9261BF;background-image: url(../img/default/5.jpg); }
/* .page-3-1{ background-color:#F3533C;background-image: url(../img/default/3.jpg);}
.page-4-1{ background-color:#FFBF50;background-image: url(../img/default/13.jpg);}
.page-5-1{ background-color:#660066;background-image: url(../img/default/92.jpg);}
.page-6-1{ background-color:#666699;background-image: url(../img/default/8.jpg);}
.page-7-1{ background-image: url(../img/default/11.jpg);}
.page-8-1{ background-image: url(../img/default/14.jpg);}
.page-9-1{ background-image: url(../img/default/g3.jpg);}
.page-10-1{ background-image: url(../img/default/g1.jpg);}
.page-11-1{ background-image: url(../img/default/a1.jpg);;}
.page-12-1{ background-image: url(../img/default/a2.jpg);}
.page-13-1{ background-image: url(../img/default/a3.jpg);}
.page-14-1{ ;background-image: url(../img/default/91.jpg);}
.page-15-1{ ;background-image: url(../img/default/2.jpg);} */
.page-current{z-index:1;}


.icon-up{ height:auto;width:25px;position:absolute;left:50%;bottom:5px;margin-left:-12px;}
.padding20{padding:0 20px;}
.full{padding:10px 0; width: 100%;}
.abs{ position: absolute;}
.rel{ position: relative;}
.top{ top: 40px;bottom: auto;}
.btm{bottom: 40px; top: auto;}
.bg-black{background: rgba(0, 0, 0, 0.7); color: #fff;}
.bg-white{background: rgba(255, 255, 255, 0.8); color: #666;}
.white{color: #fff;}
.black{color: #333;}
.h1{font-size: 40px;}
.h2{font-size: 20px;}
.h3{font-size: 15px;}
.h4{font-size: 12px;}
.lh40{ line-height: 40px;}
.lh30{ line-height: 30px;}
.lh20{ line-height: 20px;}
.t-left{text-align: left;}
.t-center{text-align: center;}
.t-right{text-align: right;}
.radius{border-radius: 160px;}

.main1 { }

.page-1-1 .img_1,
.page-2-1 .img_1,
.page-3-1 .img_1,
.page-5-1 .img_1,
.page-6-1 .img_1,
.page-7-1 .img_1{left: 50%; margin-left: -80px;}
.page-5-1 .img_1,
.page-6-1 .img_1,
.page-7-1 .img_1{ width: 160px; height: 160px;}

.page-2-1 .h1,
.page-3-1 .h1,
.page-4-1 .h1{ top: auto; bottom: 40px;}

.page-8-1 .main1{top: 30%;}

.page-9-1 .img_1, .page-10-1 .img_1{width: 50%;margin-top: 10px; position: absolute; left: 50%;margin-left: -60px; z-index: 20; top: 30px;}

.page-9-1 .img_2, .page-10-1 .img_2{width: 80%;margin-top: 10px; position: absolute; left: 50%;margin-left: -120px; z-index: 10;}

.page-9-1 .p, .page-10-1 .p{  font-size: 20px; position: relative; z-index: 30; top: 320px;}

.page-14-1 .main1, .page-4-1 .main1, .page-16-1 .main1,.page-17-1 .main1{ top: 30%;}
.page-17-1 .main2{bottom: 0;}

.page-3-1 .main4{ bottom: 40px;}
.page-3-1 .main3{ bottom: 90px;}
.page-3-1 .main2{ bottom: 140px;}
.page-3-1 .main1{ bottom: 190px;}

.page-14-1 .main1 p, .page-16-1 .main1 p{padding:0 20px;}
.page-15-1  .pay{   margin-top: 150px;opacity: 01;width: 100%;}
