body{
	
	width:100%;
	height: 100%;
	overflow:hidden;
	
}



.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;
	
	text-align:center;
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position:  0 0;
}

.page .wrap{
	width: 100%;height: 100%;
	text-align: center;
}

.page-1-1{ background-color:#083846;background-image: url(../img/1.jpg);}
.page-2-1{ background-color:#9261BF;background-image: url(../img/2.jpg); }
.page-3-1{ background-color:#F3533C;background-image: url(../img/3.jpg);}
.page-4-1{ background-color:#FFBF50;background-image: url(../img/4.jpg);}
.page-5-1{ background-color:#660066;}
.page-6-1{ background-color:#666699;}
.page-7-1{ background-image: url(../img/640.jpg);}

.page-current{
	z-index:1;
}



.h1 {font-size: 20px;color: #fff; background: rgba(0, 0, 0, 0.7); position: absolute; top: 40%; width: 100%; padding:10px 0;line-height: 40px;;}
.h1 p{color: #fff;font-family: 'sim sun'; padding: 0 10px;}
.h1 .p2{font-size: 30px;}
.page-2-1 .h1{ top: auto; bottom: 40px;}
.page-3-1 .h1{ top: auto; bottom: 40px;}
.page-4-1 .h1{ top: auto; bottom: 40px;}

.icon-up{ height:auto;width:25px;position:absolute;left:50%;bottom:5px;margin-left:-12px;}

.page-5-1 .img_1,
.page-6-1 .img_1{width: 50%;margin-top: 10px; position: absolute; left: 50%;margin-left: -60px; z-index: 20; top: 30px;}
.page-5-1 .img_2,
.page-6-1 .img_2{width: 80%;margin-top: 10px; position: absolute; left: 50%;margin-left: -120px; z-index: 10;}
.page-5-1 .p,
.page-6-1 .p{ color: #fff; font-size: 20px;margin: 10px; position: relative; z-index: 30; top: 300px;}

.page-6-1 .img_1{ width: 80%;margin-left:-120px; }